* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.box {
  width: 50%;
  height: 75%;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.box-content {
  font-size: 30px;
}

.box-1 {
  background-color: #333;
}

.box-2 {
  background-color: #777;
}
